<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!--    <properties resource="classpath:dbconfig.properties">-->
<!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8"/>-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="caozhijian.19971023"/>-->

<!--    </properties>-->


    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>



<!--    <environments default="development">-->


<!--        &lt;!&ndash;测试环境&ndash;&gt;-->
<!--        <environment id="test">-->
<!--            <transactionManager type="JDBC"></transactionManager>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->

<!--        &lt;!&ndash;开发环境配置&ndash;&gt;-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->




<!--    </environments>-->

<!--    <mappers>-->
<!--        <mapper resource="mappers/EmployeeMapper.xml"></mapper>-->
<!--        <mapper resource="mappers/EmpDepMapper.xml"></mapper>-->
<!--        <mapper resource="mappers/DepartmentMapper.xml"></mapper>-->
<!--        <mapper resource="mappers/DynamicSqlMapper.xml"></mapper>-->
<!--    </mappers>-->
</configuration>